<p style="color: green"><%= notice %></p>

<%= render @admins_reeduser %>

<div>
  <%= link_to "Edit this reeduser", edit_admins_reeduser_path(@admins_reeduser) %> |
  <%= link_to "Back to reedusers", admins_reedusers_path %>

  <%= button_to "Destroy this reeduser", @admins_reeduser, method: :delete %>
</div>
