<p style="color: green"><%= notice %></p>

<%= render @admins_manage %>

<div>
  <%= link_to "Edit this manage", edit_admins_manage_path(@admins_manage) %> |
  <%= link_to "Back to manages", admins_manages_path %>

  <%= button_to "Destroy this manage", @admins_manage, method: :delete %>
</div>
