<div id="<%= dom_id product %>">
	<div>画像が入ります</div>
	<div>
		<% link_to product_path(p.id) do %>
		<ul class="product-parts">
			<li class="product-list"><% p.product %></li>
			<li class="product-list"><% p.description %></li>
			<li class="product-list"><% p.price %></li>
			<% if p.quantity != 0 %>
				<%= form_with url: cart_path do |f| %>
					<%= f.hidden_field :product_id, value: p.id %>
					<%= f.text_field :quantity, value: 1 %>
					<%= f.submit 'カートに入れる' %>
				<% end %>
			<% else %>
				<p>欠品中</p>
			<% end %>
		</ul>
		<% end %>
	</div>
</div>
