<h1>Editing product</h1>

<% if @admins_product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@admins_product.errors.count, "") %>つの以下エラーがありますのでご確認をお願いいたします。</h2>

      <ul>
        <% @admins_product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
<% end %> 


<div>
  <%= form_with url: "/admins/products/#{@admins_product.id}", method: "patch" do |form| %>
  <div>
        <%= form.label :商品名 %>
        <%= form.text_field :product, autofocus: true, class: "input-area", value: "#{@admins_product.product}" %>
    </div>
    <div>
        <%= form.label :商品説明 %>
        <%= form.text_field :product_description, autofocus: true, class: "input-area", value: "#{@admins_product.product_description}" %>
    </div>
    <div>
        <%= form.label :商品価格 %>
        <%= form.text_field :product_price, autofocus: true, class: "input-area", value: "#{@admins_product.product_price}" %>
    </div>
    <div>
        <%= form.label :商品在庫 %>
        <%= form.text_field :product_quantity, autofocus: true, class: "input-area", value: "#{@admins_product.product_quantity}" %>
    </div>
    <div class="btn-box">
      <%= form.submit "更新する", class: "btn" %>
    </div>
  <% end %>
</div>

<div class="btn-box">
  <%= link_to "商品詳細に戻る", admins_products_path, class: "btn back-btn" %>
</div>
