<p style="color: green"><%= notice %></p>

<%= render @admins_product %>

<div>
  <table>
        <thead>
          <tr>
            <th>商品名</th>
            <th>商品説明</th>
            <th>商品価格</th>
            <th>商品在庫数</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @admins_product.product %></td>
            <td><%= @admins_product.product_description %></td>
            <td class="unit"><%= number_to_currency(@admins_product.product_price, unit: "¥", format: "%u %n") %></td>
            <td class="unit"><%= @admins_product.product_quantity %><span class="quantity-unit">個</span></td>
            <td><%= link_to "編集", edit_admins_product_path(@admins_product), class: "btn" %></td>
            <td><%= button_to "削除", @admins_products, method: :delete, remote:true, data: { turbo: false, confirm: "本当に削除しますか？" }, class: "btn delete-btn" %></td>
          </tr>
        </body>
  </table>

  <div class="btn-box">
    <%= link_to "商品一覧に戻る", admins_products_path, class: "btn back-btn" %>
  </div>
</div>
