<h1>住所・電話番号登録</h1>

<div>
  <%= form_with url: users_address_registrations_path do |form| %>
  <div>
        <%= form.label :郵便番号 %>
        <%= form.text_field :zip, autofocus: true, class: "input-area" %>
    </div>
    <div>
        <%= form.label :住所 %>
        <%= form.text_field :address, autofocus: true, class: "input-area" %>
    </div>
    <div>
        <%= form.label :電話番号 %>
        <%= form.text_field :phone, autofocus: true, class: "input-area" %>
    </div>
    <div class="btn-box">
      <%= form.submit "登録する", class: "btn" %>
    </div>
  <% end %>
</div>


<div class="btn-box">
  <%= link_to "トップに戻る", root_path, class: "btn back-btn" %>
</div>
