<p style="color: green"><%= notice %></p>

<%= render @users_address_registration %>

<div>
  <%= link_to "Edit this address registration", edit_users_address_registration_path(@users_address_registration) %> |
  <%= link_to "Back to address registrations", users_address_registrations_path %>

  <%= button_to "Destroy this address registration", @users_address_registration, method: :delete %>
</div>
